/* Colors
Dark Jungle Green: #000F08
Outer Space Crayola: #1C3738
Dark Liver: #4D4847
Mint Cream: #F4FFF8
Pewter Blue: #8BAAAD
dark blue: #022b3a
light blue: #bae6f3
light gray: #e0e6e4
 */

/* Font Styles
 ---------------------------------------- */
@font-face {
  font-family: luloClean;
  src: url("../fonts/lulo-clean/Lulo Clean One Bold.otf");
}

@font-face {
  font-family: avenir;
  src: url(../fonts/avenir_ff/AvenirLTStd-Roman.otf);
}

/* Global Styles
----------------------------------------- */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #f4fff8;
  margin: 0;
  padding: 0;
  font-family: avenir;
  font-size: 15px;
  line-height: 2.5;
}
img {
  width: 300px;
}
a {
  color: #1c3738;
}
a:hover {
  color: #c2e1e2;
}
h1 {
  font-size: 65px;
  margin: 35px 0;
  line-height: 1.6;
}
h2 {
  margin: 0;
}
.contentWrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}

h1,
h2,
h3 {
  font-family: LuloClean;
}

h3 {
  margin-bottom: 0;
}

.itemDetails h3 + p {
  font-style: italic;
}

.itemDetails h3 ~ p {
  margin: 0;
}

.divider > section {
  border-bottom: 1px dashed #1c3738;
  padding: 50px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}
/* Navbar
----------------------------------------- */
.navbar {
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 25px 0px;
  background: #e0e6e4;
}
.navbar img {
  width: 80px;
}

.navbar a {
  padding: 5px 20px;
  align-self: center;
  color: #663366;
}

.navbar a:hover {
  color: #1f191b;
}

.navbar .icon {
  display: none;
}

/* Profile
----------------------------------------- */
header {
  background: #1c3738;
}

/* Projects
----------------------------------------- */
.projects {
  background: #8baaad;
}

.projects .btn {
  background: #1c3738;
  color: #f4fff8;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
  transition: 0.3s;
  margin-right: 10px;
}

.projects .btn:hover {
  /* background: rgb(0, 15, 8, 0.5); */
  background: #dcedee;
  color: #1c3738;
}

.projectItem {
  overflow: hidden;
}

.projectItem h3 {
  margin-top: 0;
}

/* Skills
----------------------------------------- */
.skills {
  background: #4d4847;
}

.skills img {
  width: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  background-color: #1c3738;
  border-radius: 0 0 5px 5px;
  padding-bottom: 15px;
}

.grid-item {
  margin: auto;
  margin-top: 25px;
  text-align: center;
}

.grid-item h3 {
  margin-top: 10px;
  font-size: 11px;
}

details summary {
  cursor: pointer;
  padding: 10px 10px 10px 20px;
  background-color: #1c3738;
  color: #f4fff8;
  border-radius: 5px;
  margin-top: 15px;
  font-size: 16px;
}

details summary:hover {
  background-color: #022b3a;
}

details[open] summary {
  border-bottom: 2px solid #8baaad;
  border-radius: 5px 5px 0 0;
}

/* Work Experience
----------------------------------------- */
.workExperience {
  background: #8baaad;
}

/* Education
----------------------------------------- */
.education {
  color: #1c3738;
  background-image: url(../images/bgpic.jpg);
  background-size: cover;
  background-position: top left;
}

/* Contact Info
----------------------------------------- */
footer {
  /* color: #1c3738; */
  background: #1c3738;
}

.contactList {
  list-style-type: none;
  padding: 0;
}

.contactList a {
  padding: 15px;
  display: inline-block;
  color: #f4fff8;
}

.contactList a:hover {
  color: #c2e1e2;
}

/* Responsive
----------------------------------------- */
@media screen and (min-width: 750px) {
  footer {
    text-align: center;
  }
  .projectItem img {
    float: left;
    margin-right: 25px;
  }

  .jobItem {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
  .contactList {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 749px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    line-height: 2;
  }
  .contactList a {
    padding: 5px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid-item h3 {
    font-size: 12px;
  }

  /* Responsive Navbar */
  .navbar img {
    width: 50px;
    display: block;
    margin: auto;
  }

  .navbar a {
    display: none;
  }

  .navbar a.icon {
    display: block;
    position: absolute;
    right: 20px;
    top: 25px;
  }

  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive a.icon {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .navbar.responsive {
    display: block;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
